$border-radius: 4px;
$border: 1px solid #ebeef5;
$shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
$color: #606266;
$iconColor: #909399;
$font-size: 14px;
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$info: #909399;
$danger: #f56c6c; 
$infoBg: #edf2fc;
$successBg: #f0f9eb;
$warningBg: #fdf6ec;
$dangerBg: #fff0f0;
$activePrimary: #3681df;
$activeSuccess: #53a534;
$activeWarning: #c88838;
$activeDanger: #d75959;